{% extends 'base.html' %}

{% block content %}


    <p>{{member.user.username}} добро пожаловать в {{ member.company.name }}!</p>
    <p>Вы админ</p>
    <style>
    body, html {
        height: 100%; /* Занимает всю высоту */
        margin: 0;
    }
    .container {
        display: flex;          /* Включаем Flexbox */
        justify-content: center; /* Центрируем по горизонтали */
        align-items: center;    /* Центрируем по вертикали */
        height: 100vh;          /* Высота = 100% высоты viewport */
        /* Для размещения кнопок рядом, но с пространством */
        gap: 20px; /* Отступ между кнопками */
    }
    button {
        padding: 10px 20px;
        font-size: 16px;
    }
    </style>

    
    
    <div class="container">

        {% if review_video != None %}
        <ul>
            <li><p>Видео для проверки {{review_video.link}}</p></li>
            <li><p>от пользовтеля: {{review_video.member}}</p></li>
            <li><p>Дата публикации: {{ review_video.date_created|date:"d.m.Y H:i" }}</p></li>    
       
        
            <li>
                
                <form method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="type" value="video">
                    <input type="hidden" name="action" value="decline_video">
                    <button>отклонить</button>
                </form>

                <form method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="type" value="video">
                    <input type="hidden" name="action" value="accept_video">
                    <button>принять</button>
                </form>
            </li>
        {% endif %}
            
            <li>
                <form method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="type" value="video">
                    <input type="hidden" name="action" value="">
                    <button>проверить следующее видео</button>
                </form>

                <form method="get" action="{% url 'users:profile' %}"> <button>профиль</button></form>
            </li>
         </ul>
    </div>
  

{% endblock %}