{% extends 'base.html' %}

{% block content %}

{% if not user.is_authenticated %}
    <p>Добро пожаловать на сайт Roky pay!</p>
    <p>Для начала работы необходимо авторизоваться!</p>
    <style>
    body, html {
        height: 100%; /* Занимает всю высоту */
        margin: 0;
    }
    .container {
        display: flex;          /* Включаем Flexbox */
        justify-content: center; /* Центрируем по горизонтали */
        align-items: center;    /* Центрируем по вертикали */
        height: 100vh;          /* Высота = 100% высоты viewport */
        /* Для размещения кнопок рядом, но с пространством */
        gap: 20px; /* Отступ между кнопками */
    }
    button {
        padding: 10px 20px;
        font-size: 16px;
    }
    </style>

    <div class="container">
        <form method="get" action="{% url 'users:login' %}"> <button>Вход</button></form>
        <form method="get" action="{% url 'users:register' %}"> <button>Регистрация</button></form>
    </div>
{% else %}

    <p>Вы успешно авторизовались!</p>
    <p>Выберите компанию из следующиего списка:</p>
    <ul>
        {% for el in companies_list %}
            <li>
                <form method="get" action="{% url 'company:home' company_name=el.name %}">
                    <div class="container">
                        <button>{{el.name}}</button>
                    </div>
                </form>
            </li>
        {% endfor %}
    </ul>
    
    <p>Создайте свою компанию</p>
    <form method="post">
        {% csrf_token %} {{ create_company_form.as_p }}
        <button>Создать</button>
    </form>

{% endif %}

    

{% endblock %}